@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
.slide-in-top{animation:slide-in-top .7s cubic-bezier(.25,.46,.45,.94) both}
body, html{
    background: #d6f3fd;
    font-size: 18px;
    margin:0;
    padding:0;
        max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}
.image{
    width:34%;
    position:absolute;
    left:10%;
    top: 50%;
}
.navbar{
    padding-top:20px;
    position: absolute;
    top: 2%;
    left: 13%;
    color: white;
    font-family: Raleway;
    font-size: 18px;
}

.title{
padding-top:70px;
padding-bottom:0px;
}

/*
form  { display: table;

 }
*/
/*
 label{
 display: inline-block;
  width: 240px;
  text-align: right;
  margin-bottom:20px;
  }

input { display: table-cell;
 padding:10px;
 margin-left:15px;}
*/
a{
    text-decoration: none;
    color: black;
}
div.contain
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 20px 20px;
	text-align: center;
}

div.contain a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.indigo
{
    background: black;
}

div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

/*NAV BAR - DROPDOWN*/
 input[type="submit"], button
    {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    }
input[type="submit"]:hover, button:hover{
    background: orange;
    color:black;
    }
div.footer{
    background-color: black;
    color: #C6C9D0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: flex;
  flex-direction: column;
  min-height: 100%;
}
.icon{
    width: auto;
    height: auto;
    position: absolute;
    top:4%;
    left: 5%;
}
p{
text-align: center;
font-weight: 600;}

.container {
position:absolute;
top:100%;
left: 70%;
}

.request{
position:absolute;
top: 30%;
margin-left:10%;
margin-right:10%;
width:80%;
}
summary{
text-align: left;}
footer{
    background-color: black;
    color: #d6f3fd;
    padding-top:100px;
    padding-bottom:100px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    position: absolute;
    top:280%;
}