<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <script src="https://kit.fontawesome.com/ab6caf2d21.js" crossorigin="anonymous"></script>
    <title>Acoustic</title>
</head>

<body>
<img class="icon" src="{% static 'images/logo2.png' %}">
<div class="navbar">
    <a href="{% url 'main' %}">ACOUSTIC</a> &nbsp; &nbsp;
    <a href="{% url 'login_form'%}">LOGIN</a> &nbsp; &nbsp;
</div>
<img class="image" src="{% static 'images/saxophone.png' %}">
<form class="box" action="register" method="post">
    {% csrf_token %}
    <h1>REGISTER</h1><br>
    {% for message in messages %}
    <div style="color:red;"> {{ message }}</div>
    {% endfor %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="dob" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"
           placeholder="Date of birth">
    <br><input type="submit" name="" value="Signup"><br>
    Already have an account?
    <input type="submit" name="" value="Login">
</form>
<br><br>
<footer>
    ACOUSTIC MUSIC PVT. LTD.<br><br>
    <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp; &nbsp;
    <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp; &nbsp;
    <i class="fa fa-facebook" aria-hidden="true"></i>
</footer>
</body>

</html>